<h1>Editing message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p class="navigation">
<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
</p>
